body {
    background: url('https://www.dropbox.com/s/4tjppcuqzsculsv/clearSky.jpg?raw=1')
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    max-width: 70%;
}

.jumbotron {
    background-color: rgba(2, 2, 2, 0.7);
    color: #ffffff;
    margin-top: 1.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#metric {
    background: rgba(2, 2, 2, 0.2);
    outline: none;
    border: 1px solid white;
    margin-top: 3vw;
}

h1 {
    font-style: italic;
    text-align: center;
    margin-top: 0;
}

.displayResults {
    font-size: 2em;
    font-weight: 100;
    margin: 0 15%;
}
.cityNameSearch {
    color: black;
    width: 60%;
    outline: none;
    border: none;
    font-size: 1.5em;
}

.searchResults {
    list-style: none;
    line-height: 1;
    display: table;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    width: 60%;
    padding: 5px 1px;
    border: none;
}

p {
    padding: 0;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    text-decoration: none;
    display: block;
    height: 100%;
    margin-top: 5px;
    color: black;
    padding: 5px 1px;
}
a:hover {
    background-color: rgb(228, 232, 236);
    text-decoration: none;
}

.ui-widget {
    padding-top: 2vw;
    text-align: center;
}

.name {
    font-size: 0.5em;
    text-align: center;
}

/* display results  */

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}
.flexed {
}

.flexed2 {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.dispCity {
    text-align: center;
    font-size: 2.5em;
}

.dispTemp {
    font-size: 3.5em;
    margin: 0;
}

.dispHumi {
    font-size: 0.7em;
}

.dispWeatherText {
    font-size: 0.7em;
}
