html {
    background-size: cover;
    height: 100%;
}

body {
    background: url('https://www.dropbox.com/s/4tjppcuqzsculsv/clearSky.jpg?raw=1')
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    max-width: 70%;
}

.jumbotron {
    background-color: rgba(2, 2, 2, 0.6);
    color: #ffffff;
    margin-top: 1.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 450px;
}

#metric {
    background: rgba(2, 2, 2, 0.2);
    outline: none;
    border: 1px solid white;
    margin-top: 3vw;
    font-size: 0.7em;
}

#metric:hover {
    background: rgba(220, 220, 220, 0.1);
}

h1 {
    font-style: italic;
    text-align: center;
    margin-top: 0;
}

h2 {
    margin-top: 5vw;
}
.displayResults {
    font-size: 2em;
    font-weight: 100;
    margin: 0 15%;
}
.cityNameSearch {
    color: black;
    width: 60%;
    outline: none;
    border: none;
    font-size: 1.5em;
    margin-top: 2vw;
    padding-left: 1.2vw;
}

.searchResults {
    list-style: none;
    line-height: 1;
    display: table;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    width: 60%;
    border: none;
}

p {
    padding: 0;
}

a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9em;
    text-decoration: none;
    display: block;
    height: 100%;
    margin-top: 5px;
    color: black;
    padding: 5px 1px;
}
a:hover {
    background-color: rgb(228, 232, 236);
    text-decoration: none;
}

.ui-widget {
    padding-top: 2vw;
    text-align: center;
}

/* display results  */

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

.flexed2 {
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 1.8;
    font-size: 0.6em;
}

.dispCity {
    text-align: center;
    font-size: 2.5em;
}

.dispTemp {
    font-size: 3.5em;
    margin: 0;
}

@media screen and (max-width: 950px) {
    .flexContainer {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .flexContainer {
        flex-direction: column;
    }

    .dispTemp {
        font-size: 2em;
    }

    .flexed2 {
        font-size: 0.5em;
    }

    .cityNameSearch {
        font-size: 1em;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        margin-top: 10vw;
    }
    .flexContainer {
        flex-direction: column;
    }

    .dispTemp {
        font-size: 2em;
    }

    .flexed2 {
        font-size: 0.5em;
    }

    .cityNameSearch {
        font-size: 1em;
    }
}
